<div>
<h2>Name: <%= @restaurant.name %></h2>


  <p><strong>Address:</strong>
  <%= @restaurant.address %>
  </p>
  <p>
  <strong>Type of food:</strong>
  <%= @restaurant.category %>
  </p>
</div>
<br>
<%= link_to "Take me back", restaurants_path, class: "btn btn-primary" %>
